/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* New Code start */
hr {}
a {
    color:black;
    text-decoration:none;
}
.top {
    display:flex;
    justify-content: space-around;
}

body{
	max-width:800px;
	margin:auto;
}
header {
    display:flex;
    justify-content: space-between;
    font-size: 80px;
    font-family: 'Bangers', cursive;
}
.innovation {
    display:flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.header-image {
    margin-top: 30px;
}

button {
    background-color: white;
    font-size: 20px;
    border:0px;
    padding:0px;
    width:200px;
    border: 2px solid black;
    margin-left: 60px;
}
/* Starting features */
.first-section{
	display:inline-block;
	width:49%
}
footer{
	text-align: center;
}
.second-section {
	display:inline-block;
	width:30%
}
address{
	text-align: left;
}
.margin {
	margin-bottom: 5px;
}

.middle-img{
padding-top: 30px;
padding-bottom: 30px ;
}
@media(max-width:800px){
    .body-container{
        background-color: blue;
    }
    .header-image {
        display:none;
    }
    .innovation {
        display: flex;
        justify-content: center;
        width:100%;
    }
        .top {
            justify-content: center;
      align-content: center;
      width:100%;
      flex-wrap: wrap;
    }
}
@media(max-width:500px) {
        /* .body-container {
      display:flex;
      flex-direction: column;
      max-width:100%;
      align-items: center;
    } */
    
    .logo {
       width:100%;
       /* margin-left: 150px; */
    }
    .top {
      flex-direction:column-reverse;
      justify-content: center;
      align-content: center;
      width:100%;
    }
    a {
        display:flex;
        justify-content: center;
        align-content: center;
    }
    .header-image {
        display:none;
    }
    .middle-img {
        width:100%;
        /* margin-left: 15px; */
    }
    .services-a {
        border: 3px outset grey; 
    }
    .product-a {
        border: 3px outset grey;
    }
    .vision-a {
        border: 3px outset grey;
    }
    .features-a {
        border: 3px outset grey;
    }
    .about-a { 
        border: 3px outset grey;
    }
    .contact-a {
        border: 3px outset grey;
    }
    .features {
        display:flex;
        flex-direction: column;
    }
    .services {
        display:flex;
        flex-direction: column;
    }
    .first-section {
        width:100%;
        margin-bottom:20px;
        margin-top:20px;
    }
    .second-section {
        width:100%;
        margin-bottom:20px;
        margin-top:20px;
    }
    address {
        width:100%;
    }
    hr {
        padding:0px;
        margin:0px;
        width:100%;
    }
    .box {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}